@page
@model Razorproject.Pages.Dashboard.UserDashboardModel
@{
    ViewData["Title"] = "User Dashboard";
}

<div class="container">
    <div class="row">
        <div class="col-md-3 border-right">
            <h4>User Details</h4>
            <!-- Display user details here -->
            <p>Username: @Model.Username</p>
            <!-- Add more user details as needed -->
        </div>
        <div class="col-md-9">
            <h4>Dashboard</h4>
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-primary" asp-page="/Products/View">View Products</a>
                </div>        
            </div>
        </div>
    </div>
</div>
