@page
@model Razorproject.Pages.Account.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}
<h2 class="text-center">Reset Password</h2>
<div class="container ">
<div class="row justify-content-center">
        <div class="col-md-4 border-light">
<form method="post">
    <div class="form-group d-flex">
        <label for="email" class="control-label">Email</label>
        <input type="email" id="email" name="ResetPassword.Email" class="form-control"/>
       
    </div>
    <div class="form-group d-flex">
        <label for="token" class="control-label">Token</label>
        <input type="text" id="token" name="ResetPassword.Token" class="form-control" />
   
    </div>
    <div class="form-group d-flex">
        <label for="password" class="control-label">Password</label>
        <input type="password" id="password" name="ResetPassword.Password" class="form-control" />
       
    </div>
    <div class="form-group d-flex">
        <label for="confirmPassword" class="control-label">Confirm Password</label>
        <input type="password" id="confirmPassword" name="ResetPassword.ConfirmPassword" class="form-control" />
        
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary my-2">Reset Password</button>
    </div>
</form>

    </div>
</div>

</div>